openapi: 3.0.3
info:
  title: OraDesk AI Enterprise API
  description: API documentation for the OraDesk AI Clinical Communications Platform.
  version: 2.0.0
  contact:
    name: API Support
    email: api-support@oradesk.com
servers:
  - url: https://api.oradesk.com/v2
    description: Production Environment
  - url: https://api.staging.oradesk.com/v2
    description: Staging Environment
  - url: http://localhost:8080/v2
    description: Local Development
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter your Supabase-issued JWT token.
security:
  - bearerAuth: []
paths:
  /calls:
    post:
      summary: Initiate an outbound AI call
      operationId: initiateCall
      tags:
        - Outbound Calls
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - call_type
                - to_number
              properties:
                patient_id:
                  type: string
                  format: uuid
                  description: Optional UUID of the patient record.
                appointment_id:
                  type: string
                  format: uuid
                  description: Optional UUID of the associated appointment.
                call_type:
                  type: string
                  enum: [confirmation, reminder, recall, follow_up, custom]
                to_number:
                  type: string
                  description: Patient phone number in E.164 format.
      responses:
        '200':
          description: Call initiated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
  
  /analytics/{clinicId}:
    get:
      summary: Get clinic analytics overview
      operationId: getAnalytics
      tags:
        - Analytics
      parameters:
        - name: clinicId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Analytics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCalls:
                    type: integer
                  successRate:
                    type: number
                  appointmentsConfirmed:
                    type: integer
        '401':
          description: Unauthorized
        '404':
          description: Clinic not found

  /ops/data-deletion/{patientId}:
    delete:
      summary: Anonymize patient data (GDPR/CCPA)
      operationId: deletePatientData
      tags:
        - Compliance
      parameters:
        - name: patientId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Data successfully anonymized
        '401':
          description: Unauthorized
        '404':
          description: Patient not found
